body{
    background-color: #5696a6;
}

.container{
    max-width: 40%;
}

input[type=text],
input[type=text]:focus{
    color: #fff;
    border: none;
    background: rgba(0, 0, 0, 0.2);
    max-width: 100%;
}

.todos li {
    background: #76aab7;
}

.delete {
    cursor: pointer;
}

.filtered{
    display: none !important;
}